<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="IngosCommonV3" value="https://artifactory.corp.ingos.ru/api/nuget/v3/common-nuget" protocolVersion="3" />
	<add key="IngosCommon" value="https://artifactory.corp.ingos.ru/api/nuget/common-nuget" />
  </packageSources>
</configuration>